@font-face {
  font-family: 'cwTeXKai';
  font-style: normal;
  font-weight: 500;
  src:url(fonts/google/cwTeXKai-zhonly.ttf) format('truetype');
}

@font-face {
  font-family: 'cwTeXMing';
  font-style: normal;
  font-weight: 500;
  src:url(fonts/google/cwTeXMing-zhonly.ttf) format('truetype');
}

@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src:url(fonts/google/cwTeXYen-zhonly.ttf) format('truetype');
}
@font-face {
  font-family: 'cwTeXFangSong';
  font-style: normal;
  font-weight: 500;
  src:url(fonts/google/cwTeXFangSong-zhonly.ttf) format('truetype');
}